.hero,
.accueil,
.home {
    text-align: center;
    padding: 90px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeUp 1s ease;
}
.hero h1,
.hero h2 {
    color: var(--marron-fonce);
    margin-bottom: 15px;
    font-weight: 700;
}
.hero p {
    max-width: 600px;
    margin: 0 auto 30px;
    color: var(--text);
}



