/* VARIABLES COULEURS */
:root {
    --beige: hsl(37, 37%, 93%);
    --creme: #f6e1b8;
    --marron: #7a5a32;
    --marron-fonce: #2f1f14;
    --accent: #b8924a;
    --texte: #1f1612;
    --ombre: rgba(0,0,0,0.18);
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: var(--beige);
    color: var(--texte);
    line-height: 1.8;
    animation: fadeIn 0.8s ease-in;
}

/* ANIMATIONS */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeUp {
    from { transform: translateY(25px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

/* STRUCTURE */
section {
    padding: 60px 30px;
}

.container {
    max-width: 1100px;
    margin: auto;
}

/* BOUTONS */
.btn,
button {
    display: table;
    margin: 30px auto;
    padding: 12px 28px;
    background: var(--accent);
    color: white;
    text-decoration: none;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 8px 18px var(--ombre);
    transition: all 0.3s ease;
}

.btn:hover,
button:hover {
    background: var(--marron);
    transform: translateY(-3px) scale(1.05);
}

/* IMAGES */
img {
    width: 100%;
    border-radius: 14px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.04);
}
@media(max-width:768px){
header {
    fex-direction: column;
    gap: 20px;
}
    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }
}