
footer {

    background: var(--marron-fonce);
    color: white;
    padding: 20px 40px;
    text-align: center;
}
.social-icons a {
    font-size: 24px;
    margin: 0 12px;
    color: var(--accent);
    transition: 0.3s;
}

.social-icons a:hover {
    color: white;
    transform: scale(1.2);
}