

.recap {
    background: var(--creme);
    padding:  40px;
    border-radius: 20px;
    max-width: 650px;
    margin: 40px auto;
    box-shadow: 0 15px 35px var(--ombre);
    animation: fadeUp 1s ease;
    text-align: center;
    color: var(--text);
}
